@model WebApplication.Models.Produto.ProdutoViewModel

<div class="form-horizontal">
	<hr />
	<div class="form-group">
		@Html.LabelFor(model => model.Descricao, new { @class = "col-md-12" })
		<div class="col-md-12">
			<input type="text" id="descricao" class="form-control" value="@Model.Descricao"/>
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.PrecoSugerido, new { @class = "col-md-12" })
		<div class="col-md-12">
			<input type="text" id="precoSugerido" class="form-control" value="@Model.PrecoSugerido" />
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-12">
			<input type="submit" id="salvar" value="Salvar" class="btn btn-default btn-success" />
		</div>
	</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}