@model IEnumerable<WebApplication.Models.Produto.ProdutoViewModel>

@{
	ViewBag.Title = "Produtos";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
	@Scripts.Render("~/Scripts/Produto/listar.js")
}

<h2>Produtos</h2>

<p>
	@Html.ActionLink("Cadastrar novo produto", "Incluir")
</p>

@if (Model.Any())
{
	<table class="table table-hover table-striped">
		<tr>
			<th>
				Descrição
			</th>
			<th>
				Preço
			</th>
			<th></th>
		</tr>

		@foreach (var produtoViewModel in Model)
		{
			<tr>
				<td>
					@produtoViewModel.Descricao
				</td>
				<td>
					@produtoViewModel.PrecoVisualizacao
				</td>
				<td>
					@Html.ActionLink("Alterar", "Alterar", new { codigo = produtoViewModel.Codigo })
					<a class="excluir" href="javascript:void(0)" data-codigo="@produtoViewModel.Codigo">Excluir</a>
				</td>
			</tr>
		}

	</table>
}
else
{
	<p>Não há produtos cadastrados</p>
}